.horizontal-bar {
    display: flex;

    .horizontal-line {
        display: block;
        background-color: $colorGreyDark;
        border-radius: 25px;
        width: 200px;
        height: 3px;
        margin-top: 10px;
    }

    p {
        margin-left: 13px;
    }
}