.jurusan-rpl {
    .bg-jurusan {
        background-color: $colorGreenLight;
    }

    .hero-title {

        h1,
        h2 {
            color: $colorGreenDark;
        }

        .title-line {
            background-color: $colorGreenBorder;
        }
    }
}

.jurusan-mm {
    .bg-jurusan {
        background-color: $colorPurpleDark;
    }

    .hero-title {

        h1,
        h2 {
            color: $colorPurpleLight;
        }

        .title-line {
            background-color: $colorPurpleBorder;
        }
    }
}

.jurusan-tkj {
    .bg-jurusan {
        background-color: $colorOrangeDark;
    }

    .hero-title {

        h1,
        h2 {
            color: $colorOrangeLight;
        }

        .title-line {
            background-color: $colorOrangeBorder;
        }
    }
}

.jurusan-toi {
    .bg-jurusan {
        background-color: $colorGreyDark;
    }

    .hero-title {

        h1,
        h2 {
            color: $colorGreyDark;
        }

        .title-line {
            background-color: $colorGreyBorder;
        }
    }
}

.jurusan-titl {
    .bg-jurusan {
        background-color: $colorBlueDark;
    }

    .hero-title {

        h1,
        h2 {
            color: $colorBlueDark;
        }

        .title-line {
            background-color: $colorBlueBorder;
        }
    }
}

.jurusan-av {
    .bg-jurusan {
        background-color: $colorYellowDark;
    }

    .hero-title {

        h1,
        h2 {
            color: $colorYellowDark;
        }

        .title-line {
            background-color: $colorYellowBorder;
        }
    }
}