$colorWhite: #FFF;
$colorBlack: #000000;

$colorDark: #1F2C48;
$colorDarkBorder: #243F7A;

$colorGreyLight: #C6C6C6;
$colorGreyDark: #6E6E6E;
$colorGreyBorder: #ACACAC;

$colorBlueLight: #0582CA;
$colorBlueDark: #007EA7;
$colorBlueBorder: #A8DADC;

$colorGreenLight: #6A994E;
$colorGreenDark: #2B9348;
$colorGreenBorder: #80B918;

$colorYellowLight: #FF9700;
$colorYellowDark: #FE8800;
$colorYellowBorder: #FEC200;

$colorPurpleLight: #794AB0;
$colorPurpleDark: #7109B6;
$colorPurpleBorder: #9159C6;

$colorOrangeLight: #E66F51;
$colorOrangeDark: #DE583E;
$colorOrangeBorder: #F3A261;